
    <h4>Listadooooo...</h4>
    <ul *ngFor="let items of itemsList;
         let i = index;
         let isLast = last;
         let isEven = even" 
         class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center"
        [ngClass]="{
            'list-group-item-success': isEven
        }">{{items.name}} - poder:
        <div>
             <samp class="badge bg-primary rounded-pill">{{items.power}}</samp>
        </div>
        <button (click)="emitirIndex(items.id)" class="btn btn-danger">Eliminar</button>
        </li>
    </ul>

